section.banner-section
 .container
   .banner-section__content
      .banner-section__slider.slider-banner
       a.slider-banner__item(href="#") 
         img.slider-banner__img(src=require('./images/slider-banner.png').default, alt="promo")
       a.slider-banner__item(href="#") 
         img.slider-banner__img(src=require('./images/slider-banner.png').default, alt="promo")
       a.slider-banner__item(href="#") 
         img.slider-banner__img(src=require('./images/slider-banner.png').default, alt="promo")
       a.slider-banner__item(href="#") 
         img.slider-banner__img(src=require('./images/slider-banner.png').default, alt="promo")
       a.slider-banner__item(href="#")
         img.slider-banner__img(src=require('./images/slider-banner.png').default, alt="promo")
       a.slider-banner__item(href="#") 
         img.slider-banner__img(src=require('./images/slider-banner.png').default, alt="promo")
      a.sale-banner(href="#").banner-section__sale
        .sale-banner__top
          .sale-banner__info акция
          .sale-banner__price
            .sale-banner__price-new 190 000
            .sale-banner__price-old 225 000
        img.sale-banner__img(src=require('./images/sale-banner.png').default, alt="promo")
        h5.sale-banner__title Лодочный мотор Suzuki DF9.9BRS
        p.sale-banner__bottom Акция действует до 
          span 31.08.2020   