mixin product(img,available,sale)
  .product-item__wrapper(class=available)
    button.product-item__favorite
    button.product-item__basket
      img(src=require('@components/products/images/basket-white.svg').default, alt="basket")
    a.product-item__notify-link(href="#")
      span Сообщить о поступлении
    a(href="#").product-item(class=sale)
      p.product-item__hover-text посмотреть товар
      img(src=require(`@components/products/images/${img}.png`).default, alt="product")
      h4.product-item__title BRP Audio-Premium System
      p.product-item__price 68 000 ₽
      p.product-item__notify-text нет в наличии
//- +product('product-popular-3','product-item_not-available','product-item_sale')


