
mixin product(img,title,price,available,sale)
  .product-item__wrapper(class=available)
    button.product-item__favorite
    button.product-item__basket
      img(src=require('@components/products/images/basket-white.svg').default, alt="basket")
    a.product-item__notify-link(href="#")
      span Сообщить о поступлении
    a(href="#").product-item(class=sale)
      p.product-item__hover-text посмотреть товар
      img.product-item__img(src=require(`@components/${img}.png`).default, alt="product")
      h4.product-item__title=title
      p.product-item__price=price
      p.product-item__notify-text нет в наличии
//- +product('product-popular-3','product-item_not-available','product-item_sale')



//- mixin product(options)
//-   -
//-     var availableClassName = "product-item__wrapper"
//-     availableClassName += options.isNotAvailable ? " product-item_not-available" : ""

//-     var saleClassName = "product-item"
//-     saleClassName += options.isSale ? " product-item_sale" : ""

//-   div(class = availableClassName)
//-     button.product-item__favorite
//-     button.product-item__basket
//-       img(src=require('@components/products/images/basket-white.svg').default, alt="basket")
//-     a.product-item__notify-link(href="#")
//-       span Сообщить о поступлении
//-     a(href="#")(class = saleClassName)
//-       p.product-item__hover-text посмотреть товар
//-       img.product-item__img(src=require(`@components/${options.img}.png`).default, alt="product")
//-       h4.product-item__title=options.title
//-       p.product-item__price=options.price
//-       p.product-item__notify-text нет в наличии
//- //- +product('product-popular-3','product-item_not-available','product-item_sale')
//- +product({img:'catalog/images/gidrotsikl-1',title:'Гидроцикл BRP SeaDoo GTI 130hp SE Black\Mango',price:'1 049 500 ₽',isNotAvailable: false,isSale: true})